.button {
    color: white;
    background-color: #7420ea;
    border-color: #7420ea;
}

.submit {
    align-items: right;
}

.flex {
    display: flex;
    margin-left: 30px;

}

.form_floating_field {
    height: 4px;
}

.link {
    text-decoration: none;
}

.footer {
    height: 100px;
    background-color: rgb(90, 104, 0);

}

.words {
    font-size: 1.2rem;
    color: white;
    margin: 0 10px;


    /* opacity: 0.75; */
    font-weight: 300;
}

.background {
    /* background: linear-gradient(to top, #cc99ff 0%, #ccffff 100%); */
    background: linear-gradient(to bottom, #88c3eb 0%, #ccffff 100%);
}

/* .container {
    max-width: 100%;
} */

.card:hover {
    /* transform: rotateY ; */
    box-shadow: 2px 5px grey;
    /* background-color: grey; */
}

.background1{
    background: #ded1d1;
}
.marginbottom_background{
    margin-bottom: -16px;
    background: #429aa6;
}
.background2{
    background: #429aa6;
}
.background_fontweight_fontfamily_color
{
    background: #429aa6;
    font-weight:regular;
    font-family: Verdana;color:white;
}
.text_font_color{
    text-align:center; 
    font-family: Verdana;
    color:white;
}
.color{
    color: blue;
}
.color_fontfamily{
    color: blue; font-family: Verdana;
}
.margin_background{
    margin-bottom: -16px;background: #429aa6;
}
.background_color_border_text{
    background-color: grey;color:rgb(14, 13, 13);border-radius:5px;text-align:center;
}