/* Sidebar styles */
.sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background-color: #212529;
    color: rgb(243, 241, 241);
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 1rem;
}

.nav-item+.active {
    font-weight: bold;
    color: aliceblue;
}

.sidebar .nav-item {
    margin-top: 15px;
}

.sidebar .nav-link {
    color: #ece7e7;
}

.sidebar .nav-link.active {
    background-color: #495057;
    font-weight: bold;
}

.sidebar .nav-link:hover {
    background-color: #343a40;
}

/* Page content */
.content {
    margin-left: 280px;
    padding: 20px;
    width: 100%;
}