.textright{
    text-align: right;
}
.marginright_textalign{
    margin-right: -17px; text-align:right;
}
.marginright{
    margin-right:0px;
}
.margin_textleft{
    margin-right:-15px;
    margin-left:0px; 
    text-align:left;
}
.textcenter{
    text-align:center;
}